body {
    height: 100%;
    width: 100%;
    margin: auto;
    /* border: 2px solid blue; */
}



fieldset {
    border: 0;
    text-align: center;
    margin: 0;
}

label {
    text-align: left;
    margin-right: 50px;
    /* margin-left: 0cm; */

    /* border: 2px solid #093697;
    background-color: #5587f1; */
}

/* #key_word_label{
    margin-left: -18px;
} */

#key_word_input {
    margin-left: 0.8cm;
}

#number_student {
    float: left;
}

input[type=text] {
    height: 1.1cm;
    /* width: 30%; */
    padding: 12px 20px;
    margin: 8px 0.2cm;
    display: inline-block;
    border: 2px solid #3672f4;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}

button {
    background-color: #3672f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid #093697;
    border-radius: 5px;
    cursor: pointer;
    /* width: 20%; */
}

#my_insert_button {
    float: right;
    padding: 10px 10px;
    width: 10%;
    margin-right: 1cm;
    /* border: ; */
}

#department {
    margin-left: -5px;
}


#select_depart {
    margin-left: 0.3cm;
    font-size: 18px;
    border: 2px solid #3672f4;
    padding: 7px 16px 9px 21px;
}

/* #department {
    color: white;
    border: 2px solid #3672f4;
    background-color: #26eb2f;
    padding: 9px 15px 10px 20px;
} */

table {
    margin-left: -1.3cm;
    border-collapse: separate;
    border-spacing: 50px 0;
}


td {
    padding: 10px 0;
}

.delete_change {
    background-color: #3672f4;
    color: white;
    padding: 10px 35px 10px 10px;
    border: 3px solid #093697;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


